<div>
    <h1>Projeto de Gamificação</h1>
</div>
<form action="/forms/completeForm1" method="POST">
    {{> completeQuestions/general}}
    {{> completeQuestions/gamification}}
    {{> completeQuestions/narrative}}
    <button type="submit">Enviar Formulário 1</button> 
</form>
