<div class='container d-flex justify-content-center align-items-center'>
  <div class='card shadow-lg p-4' style='width: 100%; max-width: 800px;'>
    <div class='card-body'>
        <form action="/forms/quickForm" method="POST">
            {{> quickQuestions/quickQuestions1}}
            {{> quickQuestions/quickQuestions2}}
            <button type="submit" class='btn btn-primary'>Enviar Formulário</button>
        </form>
    </div>
  </div>
</div>
