<div>
  {{! Quais temas ou gêneros narrativos você gostaria de incorporar na gamificação? }}
  <div>
    <label>Quais temas ou gêneros narrativos você gostaria de incorporar na
      gamificação? Aqui vão alguns exemplos:</label>
    <div>
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Aventura Espacial'
      />
      Aventura espacial<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Viagem No Tempo'
      />
      Viagem no tempo<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Misterio ou Investigação ou Suspense'
      />
      Mistério / Investigação / Suspense<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Sobrevivencia'
      />
      Sobrevivência e exploração<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Mitologia e Fantasia'
      />
      Mitologia / Fantasia<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Velho Oeste'
      />
      Velho Oeste<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Sustentabilidade'
      />
      Sustentabilidade e Proteção da Natureza<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Utopia ou Distopia'
      />
      Mundo Utópico ou Distópico<br />
      <input type='checkbox' name='temasGenerosNarrativos' value='Piratas' />
      Piratas<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Tempo Medieval'
      />
      Tempo Medieval<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Cenarios de Trabalho'
      />
      Cenários de Trabalho<br />
      <input type='checkbox' name='temasGenerosNarrativos' value='Terror' />
      Terror<br />
      <input type='checkbox' name='temasGenerosNarrativos' value='Drama' />
      Drama<br />
      <input type='checkbox' name='temasGenerosNarrativos' value='Comedia' />
      Comédia<br />
      <input
        type='checkbox'
        name='temasGenerosNarrativos'
        value='Ficcao Cientifica'
      />
      Ficção Científica<br />
      <input type='checkbox' name='temasGenerosNarrativos' value='Outro' />
      Outro:
      <input type='text' name='temasGenerosNarrativos' />
    </div>
  </div>

  {{! Tipo de avaliação nesta missão }}
  <div>
    <label>Qual será o tipo de avaliação nesta missão?</label>
    <div>
      <input type='checkbox' name='tipoAvaliacao' value='Exercicios' />
      Exercícios<br />
      <input type='checkbox' name='tipoAvaliacao' value='TrabalhosEscritos' />
      Trabalhos Escritos<br />
      <input type='checkbox' name='tipoAvaliacao' value='Provas' />
      Provas<br />
      <input type='checkbox' name='tipoAvaliacao' value='Quizzes' />
      Questionários ou Quizzes<br />
      <input type='checkbox' name='tipoAvaliacao' value='Apresentacoes' />
      Apresentações<br />
      <input type='checkbox' name='tipoAvaliacao' value='Debates' />
      Debates ou Discussões<br />
      <input type='checkbox' name='tipoAvaliacao' value='Praticos' />
      Trabalhos Práticos<br />
      <input type='checkbox' name='tipoAvaliacao' value='Simulacoes' />
      Simulações<br />
      <input type='checkbox' name='tipoAvaliacao' value='Autoavaliacao' />
      Autoavaliações e Reflexões Individuais<br />
      <input type='checkbox' name='tipoAvaliacao' value='Outro' />
      Outro:
      <input type='text' name='tipoAvaliacao' />
    </div>
  </div>

  {{! Obstáculos ou desafios na missão }}
  <div>
    <label>Que obstáculo ou desafio você gostaria de incluir nesta missão?</label>
    <div>
      <input type='checkbox' name='obstaculosMissao' value='Inimigos' />
      Inimigos<br />
      <input type='checkbox' name='obstaculosMissao' value='Pressão Temporal' />
      Pressão Temporal<br />
      <input
        type='checkbox'
        name='obstaculosMissao'
        value='Quebra-Cabeças ou Enigmas'
      />
      Quebra-Cabeças ou Enigmas<br />
      <input type='checkbox' name='obstaculosMissao' value='Desafios Fisicos' />
      Desafios Físicos<br />
      <input
        type='checkbox'
        name='obstaculosMissao'
        value='Recursos Limitados'
      />
      Recursos Limitados<br />
      <input
        type='checkbox'
        name='obstaculosMissao'
        value='Eventos Inesperados'
      />
      Eventos Inesperados<br />
      <input
        type='checkbox'
        name='obstaculosMissao'
        value='Conflitos Sociais'
      />
      Conflitos Sociais<br />
      <input
        type='checkbox'
        name='obstaculosMissao'
        value='Decisoes Dificeis'
      />
      Decisões Difíceis<br />
      <input type='checkbox' name='obstaculosMissao' value='Outro' />
      Outro:
      <input type='text' name='obstaculosMissao' />
    </div>
  </div>
</div>