{{!-- Sobre a Gamificação --}}
<div>
    <h2>Sobre a Gamificação</h2>

    {{!-- De que forma os participantes interagirão na gamificação? --}}
    <div>
        <label>De que forma os participantes interagirão na gamificação?</label>
        <div>
            <input type="radio" id="individual" name="interacao" value="Individualmente">
            <label for="individual">Individualmente</label>
        </div>
        <div>
            <input type="radio" id="grupos" name="interacao" value="Em grupos">
            <label for="grupos">Em grupos ou equipes</label>
        </div>
        <div>
            <input type="radio" id="misto" name="interacao" value="Misto">
            <label for="misto">Mistura de individual e coletivo</label>
        </div>
    </div>

    {{!-- Qual será o principal tipo de interação? --}}
    <div>
        <label>Qual será o principal tipo de interação entre os participantes?</label>
        <div>
            <input type="radio" id="competicao" name="tipoInteracao" value="Competição">
            <label for="competicao">Competição</label>
        </div>
        <div>
            <input type="radio" id="cooperacao" name="tipoInteracao" value="Cooperação">
            <label for="cooperacao">Cooperação</label>
        </div>
        <div>
            <input type="radio" id="ambas" name="tipoInteracao" value="Ambas">
            <label for="ambas">Ambas (competição e cooperação)</label>
        </div>
    </div>

    {{!-- Personalização na gamificação --}}
    <div>
        <label>Como os participantes personalizarão sua experiência na gamificação?</label>
        <div>
            <input type="checkbox" name="personalizacao" value="Avatares"> Escolha de avatares ou representações visuais<br>
            <input type="checkbox" name="personalizacao" value="Narrativa"> Escolha de caminhos narrativos (exploração aberta)<br>
            <input type="checkbox" name="personalizacao" value="Identidade"> Criação de identidade única (ex.: apelido ou nome virtual)<br>
            <input type="checkbox" name="personalizacao" value="Recompensas"> Escolha de recompensas ou benefícios<br>
            <input type="checkbox" name="personalizacao" value="Preferencias"> Configuração de preferências pessoais (ex.: acessibilidade, notificações)<br>
            <input type="checkbox" name="personalizacao" value="Nenhuma"> Nenhuma personalização<br>
        </div>
    </div>

    {{!-- Quantas missões deseja realizar? --}}
    <div>
        <label>Quantas missões deseja realizar nesta gamificação?</label>
        <input type="number" name="quantidadeMissoes" min="1" required>
    </div>
</div>