{{!-- Sobre o Contexto Educacional e Participantes --}}
<div>
    <h2>Sobre o Contexto Educacional e Participantes</h2>

    {{!-- Qual o nível de ensino dos participantes? --}}
    <div>
        <label>Qual o nível de ensino dos participantes?</label>
        <div>
            <input type="radio" id="ensinoFundamental" name="nivelEnsino" value="Ensino Fundamental">
            <label for="ensinoFundamental">Ensino Fundamental</label>
        </div>
        <div>
            <input type="radio" id="ensinoMedio" name="nivelEnsino" value="Ensino Médio">
            <label for="ensinoMedio">Ensino Médio</label>
        </div>
        <div>
            <input type="radio" id="ensinoSuperior" name="nivelEnsino" value="Ensino Superior">
            <label for="ensinoSuperior">Ensino Superior</label>
        </div>
        <div>
            <input type="radio" id="outro" name="nivelEnsino" value="Outro">
            <label for="outro">Outro:</label>
            <input type="text" name="nivelEnsinoOutro">
        </div>
    </div>

    {{!-- Quantas pessoas participarão da atividade gamificada? --}}
    <div>
        <label>Quantas pessoas participarão da atividade gamificada?</label>
        <input type="number" name="quantidadePessoas" min="1" required>
    </div>

    {{!-- Qual o formato da aplicação? --}}
    <div>
        <label>Qual o formato da aplicação?</label>
        <div>
            <input type="radio" id="presencial" name="formatoAplicacao" value="Presencial">
            <label for="presencial">Presencial</label>
        </div>
        <div>
            <input type="radio" id="online" name="formatoAplicacao" value="Online">
            <label for="online">Online</label>
        </div>
        <div>
            <input type="radio" id="hibrido" name="formatoAplicacao" value="Híbrido">
            <label for="hibrido">Híbrido (presencial e online)</label>
        </div>
    </div>

    {{!-- Quantas aulas estão previstas para esta gamificação? --}}
    <div>
        <label>Quantas aulas estão previstas para esta gamificação?</label>
        <input type="number" name="quantidadeAulas" min="1" required>
    </div>

    {{!-- Qual a duração da aula? --}}
    <div>
        <label>Qual a duração da aula? (Informe em minutos)</label>
        <input type="number" name="duracaoAula" min="1" required>
    </div>

    {{!-- Descreva o tema ou assunto --}}
    <div>
        <label>Em poucas palavras, descreva o tema ou assunto que você deseja gamificar.</label>
        <textarea name="temaGamificacao" rows="3" required></textarea>
    </div>
</div>