{{!-- Sobre a Missão --}}
<div>
    <h2>Sobre a Missão</h2>

    {{!-- Tipo de avaliação nesta missão --}}
    <div>
        <label>Qual será o tipo de avaliação nesta missão?</label>
        <div>
            <input type="checkbox" name="tipoAvaliacao" value="Exercicios"> Exercícios<br>
            <input type="checkbox" name="tipoAvaliacao" value="TrabalhosEscritos"> Trabalhos Escritos<br>
            <input type="checkbox" name="tipoAvaliacao" value="Provas"> Provas<br>
            <input type="checkbox" name="tipoAvaliacao" value="Quizzes"> Questionários ou Quizzes<br>
            <input type="checkbox" name="tipoAvaliacao" value="Apresentacoes"> Apresentações<br>
            <input type="checkbox" name="tipoAvaliacao" value="Debates"> Debates ou Discussões<br>
            <input type="checkbox" name="tipoAvaliacao" value="Praticos"> Trabalhos Práticos<br>
            <input type="checkbox" name="tipoAvaliacao" value="Simulacoes"> Simulações<br>
            <input type="checkbox" name="tipoAvaliacao" value="Autoavaliacao"> Autoavaliações e Reflexões Individuais<br>
            <input type="checkbox" name="tipoAvaliacao" value="Outro"> Outro: <input type="text" name="tipoAvaliacaoOutro">
        </div>
    </div>

    {{!-- Como será feita a avaliação do desempenho --}}
    <div>
        <label>Como será feita a avaliação do desempenho dos participantes na gamificação?</label>
        <div>
            <input type="checkbox" name="avaliacaoDesempenho" value="PontuacaoTotal"> Com base na pontuação total, exibida em rankings ou placares<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="SubidaNivel"> Subida de nível ou progresso com base nas missões concluídas<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Conquistas"> Pelas conquistas ou distintivos (badges) alcançados<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Feedback"> Por feedback durante ou após as missões<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Colaboracao"> Pela colaboração e contribuição em grupo<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Desafios"> Pelo desempenho em desafios<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Autoavaliacao"> Por autoavaliação e reflexão dos participantes<br>
            <input type="checkbox" name="avaliacaoDesempenho" value="Outro"> Outro: <input type="text" name="avaliacaoDesempenhoOutro">
        </div>
    </div>

    {{!-- Descrição do conteúdo a ser aprendido --}}
    <div>
        <label>Descreva sobre o conteúdo que será aprendido nesta missão de forma mais detalhada:</label>
        <textarea name="conteudoMissao" rows="4" required></textarea>
    </div>

    {{!-- Obstáculos ou desafios na missão --}}
    <div>
        <label>Que obstáculo ou desafio você gostaria de incluir nesta missão?</label>
        <div>
            <input type="checkbox" name="obstaculosMissao" value="Inimigos"> Inimigos<br>
            <input type="checkbox" name="obstaculosMissao" value="PressaoTemporal"> Pressão Temporal<br>
            <input type="checkbox" name="obstaculosMissao" value="QuebraCabecas"> Quebra-Cabeças ou Enigmas<br>
            <input type="checkbox" name="obstaculosMissao" value="DesafiosFisicos"> Desafios Físicos<br>
            <input type="checkbox" name="obstaculosMissao" value="RecursosLimitados"> Recursos Limitados<br>
            <input type="checkbox" name="obstaculosMissao" value="EventosInesperados"> Eventos Inesperados<br>
            <input type="checkbox" name="obstaculosMissao" value="ConflitosSociais"> Conflitos Sociais<br>
            <input type="checkbox" name="obstaculosMissao" value="DecisoesDificeis"> Decisões Difíceis<br>
            <input type="checkbox" name="obstaculosMissao" value="Outro"> Outro: <input type="text" name="obstaculosMissaoOutro">
        </div>
    </div>

    {{!-- Como o feedback será fornecido --}}
    <div>
        <label>Como o feedback será fornecido aos participantes durante a gamificação?</label>
        <div>
            <input type="radio" name="feedbackParticipantes" value="Imediato"> Feedback imediato<br>
            <input type="radio" name="feedbackParticipantes" value="Periodico"> Feedback periódico<br>
            <input type="radio" name="feedbackParticipantes" value="Coletivo"> Feedback coletivo<br>
            <input type="radio" name="feedbackParticipantes" value="Individual"> Feedback individual e personalizado<br>
        </div>
    </div>

    {{!-- Recompensas e reconhecimento --}}
    <div>
        <label>De que forma os participantes devem ser recompensados e reconhecidos por suas realizações nesta missão?</label>
        <div>
            <input type="checkbox" name="recompensas" value="Badges"> Através de distintivos (badges)<br>
            <input type="checkbox" name="recompensas" value="Titulos"> Atribuindo títulos ou status<br>
            <input type="checkbox" name="recompensas" value="RecompensasFisicas"> Recompensas físicas e tangíveis<br>
            <input type="checkbox" name="recompensas" value="Moedas"> Moedas ou pontos virtuais<br>
            <input type="checkbox" name="recompensas" value="Reconhecimento"> Reconhecimento público<br>
            <input type="checkbox" name="recompensas" value="Outro"> Outro: <input type="text" name="recompensasOutro">
        </div>
    </div>

    {{!-- O que acontece se alguém não completar a missão --}}
    <div>
        <label>O que acontece se alguém não conseguir completar a missão?</label>
        <div>
            <input type="radio" name="naoCompletarMissao" value="TentarNovamente"> Pode tentar novamente quantas vezes quiser, sem penalidades<br>
            <input type="radio" name="naoCompletarMissao" value="PenalidadeSemRepetir"> Sofre uma penalidade e não pode tentar de novo<br>
            <input type="radio" name="naoCompletarMissao" value="FeedbackETentar"> Recebe feedback personalizado com dicas e pode tentar novamente<br>
            <input type="radio" name="naoCompletarMissao" value="PrazoAdicional"> Recebe um prazo adicional para refazer a missão, com perda de pontos<br>
            <input type="radio" name="naoCompletarMissao" value="Outro"> Outro: <input type="text" name="naoCompletarMissaoOutro">
        </div>
    </div>
</div>
