{{!-- Sobre a Narrativa --}}
<div>
    <h2>Sobre a Narrativa</h2>

    {{!-- Existe algum tema específico? --}}
    <div>
        <label>Existe algum tema específico que gostaria de incorporar na narrativa da gamificação? Aqui vão alguns exemplos:</label>
        <div>
            <input type="checkbox" name="temaNarrativa" value="Espacial"> Aventura espacial<br>
            <input type="checkbox" name="temaNarrativa" value="ViagemNoTempo"> Viagem no tempo<br>
            <input type="checkbox" name="temaNarrativa" value="Misterio"> Mistério e investigação<br>
            <input type="checkbox" name="temaNarrativa" value="Sobrevivencia"> Sobrevivência e exploração<br>
            <input type="checkbox" name="temaNarrativa" value="Mitologia"> Mitologia e fantasia<br>
            <input type="checkbox" name="temaNarrativa" value="VelhoOeste"> Velho Oeste<br>
            <input type="checkbox" name="temaNarrativa" value="Sustentabilidade"> Sustentabilidade e Proteção da Natureza<br>
            <input type="checkbox" name="temaNarrativa" value="Utopia"> Mundo Utópico ou Distópico<br>
            <input type="checkbox" name="temaNarrativa" value="Piratas"> Piratas<br>
            <input type="checkbox" name="temaNarrativa" value="Medieval"> Tempo Medieval<br>
            <input type="checkbox" name="temaNarrativa" value="Trabalho"> Cenários de Trabalho<br>
            <input type="checkbox" name="temaNarrativa" value="Outro"> Outro: <input type="text" name="temaNarrativaOutro">
        </div>
    </div>

    {{!-- Gêneros de narrativa --}}
    <div>
        <label>Qual(is) gênero(s) de narrativa você gostaria de incorporar na gamificação? (Escolha até 3 gêneros)</label>
        <div>
            <input type="checkbox" name="generoNarrativa" value="Acao"> Ação e Aventura<br>
            <input type="checkbox" name="generoNarrativa" value="Drama"> Drama<br>
            <input type="checkbox" name="generoNarrativa" value="Comedia"> Comédia<br>
            <input type="checkbox" name="generoNarrativa" value="Fantasia"> Fantasia<br>
            <input type="checkbox" name="generoNarrativa" value="Ficcao"> Ficção Científica<br>
            <input type="checkbox" name="generoNarrativa" value="Misterio"> Mistério e Suspense<br>
            <input type="checkbox" name="generoNarrativa" value="Simulacao"> Simulação<br>
            <input type="checkbox" name="generoNarrativa" value="Terror"> Terror<br>
            <input type="checkbox" name="generoNarrativa" value="Outro"> Outro: <input type="text" name="generoNarrativaOutro">
        </div>
    </div>
</div>
