<!-- views/main/index.handlebars -->
<div
  class='d-flex flex-column align-items-center justify-content-center'
  style='min-height: 80vh;'
>
  <h1 class='mb-4'>Qual versão você escolhe?</h1>

  <!-- Container dos 2 quadrados grandes -->
  <div class='d-flex gap-5'>
    <div class='big-square' onclick="location.href='forms/completeForm1'">
      <span>Formulário</br> Completo</span>
    </div>
    <div class='big-square' onclick="location.href='forms/quickForm'">
      <span>Formulário</br> Rápido</span>
    </div>
  </div>

  <!-- Botão "Sobre" (usa modal do Bootstrap) -->
  <button
    type='button'
    class='btn btn-secondary mt-4'
    data-bs-toggle='modal'
    data-bs-target='#sobreModal'
  >
    Sobre
  </button>
</div>

<!-- Modal do Bootstrap -->
<div
  class='modal fade'
  id='sobreModal'
  tabindex='-1'
  aria-labelledby='sobreModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='sobreModalLabel'>Sobre</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Fechar'
        ></button>
      </div>
      <div class='modal-body'>
        <!-- Aqui vai o conteúdo explicando como funcionam os formulários -->
        <p>
          Vou colocar aqui um texto explicando as diferenças entre o
          Formulário Completo e o Rápido, e o objetivo do projeto de forma resumida. 
        </p>
        <p>
          Teste: O Formulário Completo contém mais detalhes. 
        </p>
        <!-- etc... -->
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-bs-dismiss='modal'>
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>