<div class='container d-flex justify-content-center align-items-center'>
  <div class='card shadow-lg p-4' style='width: 100%; max-width: 800px;'>
    <div class='card-body'>
      <header>
        <h1>Qual versão você escolhe?</h1>
      </header>
      <main>
        <div class='button-container'>
          <button
            onclick="location.href='forms/completeForm1'"
            class='btn btn-primary'
          >Formulário Completo</button>
          <button
            onclick="location.href='forms/quickForm'"
            class='btn btn-primary'
          >Formulário Rápido</button>
          <button
            onclick="location.href='/'"
            class='btn btn-primary'
          >Sobre</button>
        </div>
      </main>
    </div>
  </div>
</div>